.modal {
    /* border: 3px red solid; */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px red solid; */
    animation-name: animate;
    animation-duration: 1s;
}

@keyframes animate {
    from {
        top: -700px;
        opacity: 0.4;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}