* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    border: 2px red solid;
    height: 100vh;
}

.addCard {
    width: 300px;
    padding: 20px;
    margin: auto;
    border: 2px red solid;
    /* display: flex; */
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px red solid; */
}

.flashcards {
    margin-top: 20px;
    border: 2px red solid;
    display: flex;
    flex-wrap: wrap;
}


/* to be added dynamically */

.pseudo-card {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    border: 2px rgb(0, 0, 0) solid;
    width: 300px;
    /* height: 200px; */
}

.pseudo-ques {
    text-align: center;
    width: 250px;
    margin-top: 10px;
    background-color: rgb(243, 127, 127);
    word-wrap: break-word;
}

.pseudo-ans {
    text-align: center;
    width: 250px;
    word-wrap: break-word;
    margin-top: 10px;
    background-color: rgb(116, 238, 116);
    display: none;
}

.flash-btn1 {
    margin-top: 20px;
}

.flash-btn2 {
    margin-top: 20px;
}